<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Restaurant </title>

			<!-- CSS for Styling -->
			
			
			<link rel='stylesheet' href='/stylesheets/style.css' />
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
				integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
			
			<!-- JavaScript for Interactivity -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
				integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
				integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
				integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
			
			<!--Font Awesome (added because you use icons in your prepend/append)-->
			<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
		

  </head>
  <body>


		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/">CS2102 Grp 47</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
		
				<% if(user.isLogIn == true){ %>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> <%=user.name%> </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<form class="dropdown-item" action="/logout" method="post">
								<button name="logout" value="logout" style="padding: 0;border: none;background: none;">Logout</button>
							</form>
							<form class="dropdown-item" method="post" action="/manage" class="inline">
								<button name="logout" value="logout" style="padding: 0;border: none;background: none;">Manage</button>
							</form>
		
						</div>
					</li>
				</ul>
				<% } else{ %>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="login">Login</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Sign Up</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="cSignup">Diner</a>
							<a class="dropdown-item" href="rSignup">Restaurant</a>
						</div>
					</li>
				</ul>
				<% } %>
		
		
			</div>
		</nav>


    <h1 style="margin-top: 65px;position: relative;"><%= title%></h1>
	<a class="btn btn-info" href="/manageRestaurant">Manage Restaurant</a>
	<!-- Button trigger modal -->
	<button class="btn btn-info" data-toggle="modal" data-target="#addModal">Add Table</button>
	
			<!-- Modal -->
						<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Add Branch</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							  </div>
							  <div class="modal-body">
								<form name="add" action="/manageBranch" method="post">
								  Address: <input value="" align="center" type="text" name="newAddress"><br>
								  Postal Code: <input value="" id="postalcode" align="center" type="text" name="newPostalCode"><br>
								  Area:<div align="left">
											<select name="newArea" id="newArea">
										     
											 <option value="North">North</option>
											 <option value="South">South</option>
											 <option value="East">East</option>
											 <option value="West">West</option>
											 <option value="Central">Central</option>
										    
											</select>
									    </div>
								
								 
								  <button name="submit" value="add" type="submit">Add new Branch</button>
								</form>
							  </div>
							  <div class="modal-footer">
								<button type="button"  data-dismiss="modal">Close</button>
							  </div>
							</div>
						  </div>
						</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Branch Id</th>
					<th scope="col">Address</th>
					<th scope="col">Area</th>
					<th scope="col">Postal Code</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<data.length; i++) { %>
				<tr><div>
					<td><%= data[i].branchid%></td>
					<td><%= data[i].fulladdress%></td>
					<td><%= data[i].area%></td>
					<td><%= data[i].postalcode%></td>
					<td>
					
				
					    <form name="delete" action="manageBranch" method="post">
						<input type="hidden" id="deletePostal" name="delete" value=<%= data[i].postalcode%>>
                        <button type="submit" name="submit"  value="delete">Delete</button>
                        </form>
					
					<!-- Button trigger modal -->
						<button type="button"  data-toggle="modal" data-target="#editModal<%=i%>">
						  Edit
						</button>
                         
						<!-- Modal -->
						<div class="modal fade" id="editModal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Edit Branch</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							  </div>
							  <div class="modal-body">
								<form name="edit" action="/manageBranch" method="post">
								  Address: <input value="<%=data[i].fulladdress%>" id="address" align="center" type="text" name="address"><br>
								  Postal Code: <input value="<%=data[i].postalcode%>" id="postalcode" align="center" type="text" name="postalcode"><br>
								  Area:<div align="left">
											<select name="area" id="area">
										     <% if (data[i].area == "North") { %>
											 <option selected="selected" value="North">North</option>
											 <option value="South">South</option>
											 <option value="East">East</option>
											 <option value="West">West</option>
											 <option value="Central">Central</option>
										     <% } else if (data[i].area == "South") {%>
											 <option value="North">North</option>
											 <option selected="selected" value="South">South</option>
											 <option value="East">East</option>
											 <option value="West">West</option>
											 <option value="Central">Central</option>
											 <% } else if (data[i].area == "East") { %>
											 
											 <option value="East">North</option>
											 <option value="South">South</option>
											 <option selected="selected" value="East">East</option>
											 <option value="West">West</option>
											 <option value="Central">Central</option>
											 <% } else if (data[i].area == "West") { %>
											 
											 <option value="West">North</option>
											 <option value="South">South</option>
											 <option value="East">East</option>
											 <option selected="selected" value="West">West</option>
											 <option value="Central">Central</option>
											 <% } else { %>
											 <option value="North">North</option>
											 <option value="South">South</option>
											 <option value="East">East</option>
											 <option value="West">West</option>
											 <option selected="selected" value="Central">Central</option>
											 <% } %>
											</select>
									    </div>
								         <input type="hidden"  name="originalPostalCode" value=<%=data[i].postalcode%>>
								 
								  <button name="submit" value="edit" id="original" type="submit">Save Changes</button>
								</form>
							  </div>
							  <div class="modal-footer">
								<button type="button"  data-dismiss="modal">Close</button>
							  </div>
							</div>
						  </div>
						</div>
						
					</td><div>
				</tr>
				<% } %>
			</tbody>
		</table>
	
  </body>
  
</html>
