<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title><%= title%></title>
    <!-- CSS for Styling -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

 </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">CS2102 Grp 47</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <% if(user.isLogIn == true){ %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> <%=user.name%> </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form class="dropdown-item" action="/logout" method="post">
                <button name="logout" value="logout" style="padding: 0;border: none;background: none;">Logout</button>
              </form>
              <form class="dropdown-item" method="post" action="/manage" class="inline">
                <button name="logout" value="logout" style="padding: 0;border: none;background: none;">Manage</button>
              </form>

            </div>
          </li>
        </ul>
        <% } else{ %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> Sign Up</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="cSignup">Diner</a>
              <a class="dropdown-item" href="rSignup">Restaurant</a>
            </div>
          </li>
        </ul>
        <% } %>


      </div>
    </nav>

    <section class="bg-light" style="margin-top: 65px;position: relative;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 responsive-wrap">
            <div class="row light-bg detail-options-wrap">
                <div class="col-sm-2 col-lg-12 col-xl-2 featured-responsive" style="text-align:left">
                  <p><strong>Date: </strong><%=searchInfo.date%> </p>
                </div>
                <div class="col-sm-2 col-lg-12 col-xl-2 featured-responsive" style="text-align:left">
                  <p><strong>Time: </strong><%=searchInfo.time%> </p>
                </div>
                <div class="col-sm-2 col-lg-12 col-xl-2 featured-responsive" style="text-align:left">
                  <p><strong>Number of people: </strong><%=searchInfo.people%> </p>
                </div>
                <div class="col-sm-2 col-lg-12 col-xl-2 featured-responsive" style="text-align:left">
                  <p><strong>Restaurant: </strong><%=searchInfo.restaurant%> </p>
                </div>
                <div class="col-sm-2 col-lg-12 col-xl-2 featured-responsive" style="text-align:left">
                    <p><strong>Cuisine: </strong><%=searchInfo.type%> </p>
                </div>
                <div class="col-sm-2 col-lg-12 col-xl-2 featured-responsive" style="text-align:left">
                    <p><strong>Cuisine: </strong><%=searchInfo.locations%> </p>
                </div>
            </div>

            <div class="row light-bg detail-options-wrap">
              <table class="table" style="text-align:center">
                <thead>
                  <tr>
                    <th scope="col">Restaurant</th>
                    <th scope="col">Cuisine</th>
                    <th scope="col">Menu</th>
                    <th scope="col">Address</th>
                    <th scope="col"><strong>Action</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<data.length; i++) { %>
                  <tr>
                    <%= console.log(data[i].allmenu);%>
                    <td><%= data[i].restaurantname%></td>
                    <td><%= data[i].restauranttype%></td>
                    <td><a href="#" data-toggle="tooltip" data-placement="top" title="<%=data[i].allmenu%>">touch to
                        see</a></td>
                    <td><%= data[i].fulladdress%></td>

                    <td><button>Book</button></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>
    </section>

<script>1
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
  </script>
  </body>


</html>
